.adv {
    height: 582px;
    background: linear-gradient(to bottom, #ffffff 360px, #f6f2ee 160px);

    &__header {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__heading {
        max-width: 640px;
        font-family: "Palatino Linotype";
        font-style: normal;
        font-weight: 400;
        font-size: 42px;
        line-height: 46px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #211e1c;
    }

    &__line {
        width: 80px;
        height: 4px;
        background-color: #a1c74f;
        margin-top: 36px;
    }

    &__content-inner {
        position: relative;
    }

    &__content {
        margin-top: 64px;
        display: flex;
        justify-content: space-between;
        //gap: 32px;
    }

    &__item {
        width: 405px;
        height: 334px;
        border-radius: 4px;
    }

    &__image {
        width: 100%;
        height: 128px;
        position: relative;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 40%;
        border-radius: 4px 4px 0 0;
    }

    &__brand {
        position: absolute;
        top: 31px;
        right: 21px;
        width: 98px;
        height: 128px;
        object-fit: contain;
    }

    &__item-text {
        height: 204px;
        background-color: #fff;
        border-radius: 0 0 4px 4px;
        padding: 24px 32px 24px 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__item-inner {
        margin-bottom: 10px;
    }

    &__item-heading {
        font-style: normal;
        font-weight: 300;
        font-size: 28px;
        line-height: 28px;
        letter-spacing: 0.02em;
        color: #211e1c;
        margin-bottom: 12px;
    }

    &__item-desc {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: #211e1c;
    }

    &__item-link {
        display: inline-block;
        font-weight: 400;
        font-size: 13px;
        line-height: 8px;
        letter-spacing: 0.04em;
        color: #595450;
    }

    &__item-link::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: rgba(89, 84, 80, 0.16);
    }

    &__arrow {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: #FDB942;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: absolute;
        top: 164px;
        z-index: 10;
    }

    &__arrow--prev {
        left: -23px;
    }

    &__arrow--next {
        right: -23px;
    }

    &__arw {
        width: 18px;
        height: 18px;
    }

    &__pagin {
        margin-top: 39px;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    &__pagin .swiper-pagination-bullet {
        //это adv__point
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #a1c74f;
        cursor: pointer;
        opacity: unset;
        margin: unset !important;
    }

    &__pagin .swiper-pagination-bullet.swiper-pagination-bullet-active {
        //это adv__point_active
        width: 18px;
        height: 18px;
        background-color: #ffffff;
        border: 5px solid #a1c74f;
        border-radius: 50%;
        cursor: pointer;
    }
}