// .adv {
//     height: 582px;
//     background: linear-gradient(to bottom, #ffffff 360px, #f6f2ee 160px);
//     &__header {
//         padding-top: 36px;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//     }
//     &__heading {
//         max-width: 640px;
//         font-family: "Palatino Linotype";
//         font-style: normal;
//         font-weight: 400;
//         font-size: 42px;
//         line-height: 46px;
//         text-align: center;
//         letter-spacing: 0.02em;
//         color: #211e1c;
//     }
//     &__line {
//         width: 80px;
//         height: 4px;
//         background-color: #a1c74f;
//         margin-top: 36px;
//     }
//     &__content {
//         margin-top: 64px;
//         display: flex;
//         justify-content: space-between;
//         //gap: 32px;
//     }
//     &__item {
//         width: 405px;
//         height: 256px;
//         border-radius: 4px;
//     }
//     &__image {
//         width: 100%;
//         height: 128px;
//         position: relative;
//     }
//     &__img {
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//         object-position: 50% 40%;
//         border-radius: 4px 4px 0 0;
//     }
//     &__brand {
//         position: absolute;
//         top: 31px;
//         right: 21px;
//         width: 98px;
//         height: 128px;
//         object-fit: contain;
//     }
//     &__item-text {
//         height: 128px;
//         background-color: #fff;
//         border-radius: 0 0 4px 4px;
//     }
//     &__item-heading {
//         padding-top: 24px;
//         padding-left: 32px;
//         padding-right: 32px;
//         font-style: normal;
//         font-weight: 300;
//         font-size: 28px;
//         line-height: 28px;
//         letter-spacing: 0.02em;
//         color: #211e1c;
//     }
//     &__item-desc {
//         font-style: normal;
//         font-weight: 300;
//         font-size: 18px;
//         line-height: 22px;
//         letter-spacing: 0.02em;
//         color: #211e1c;
//         padding-top: 8px;
//         padding-left: 32px;
//         padding-right: 32px;
//     }
//     &__pagin {
//         margin-top: 39px;
//         display: flex;
//         justify-content: center;
//         gap: 10px;
//     }
//     &__pagin .swiper-pagination-bullet { //это adv__point
//         width: 18px;
//         height: 18px;
//         border-radius: 50%;
//         background-color: #a1c74f;
//         cursor: pointer;
//         opacity: unset;
//         margin: unset !important;
//     }
//     &__pagin .swiper-pagination-bullet.swiper-pagination-bullet-active { //это adv__point_active
//         width: 18px;
//             height: 18px;
//             background-color: #ffffff;
//             border: 5px solid #a1c74f;
//             border-radius: 50%;
//             cursor: pointer;
//     }
// }
