.children {

    &__wrapper {
        padding-top: 96px;
        display: flex;
        justify-content: space-between;
    }

    &__contents {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
    }

    &__title {
        font-weight: 300;
        font-size: 40px;
        line-height: 46px;
        color: #211E1C;
        margin-bottom: 32px;
        padding-top: 9px;
    }

    &__list {
        padding-left: 10px;
    }

    &__list-item {
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #211E1C;
        display: flex;
        align-items: center;
    }

    &__list-item:not(:last-child) {
        margin-bottom: 10px;
    }

    &__list-item::before {
        content: "";
        display: inline-block;
        width: 3px;
        height: 3px;
        background-color: #211E1C;
        border-radius: 50%;
        margin-right: 9px;
    }

    &__image {
        width: 512px;
        height: 320px;
    }

    &__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__hidden {
        display: none;
    }

    &__paragraph {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #211E1C;
        max-width: 832px;
        margin: 0 0 32px 0;
    }

    &__call-wrapper {
        margin-bottom: 32px;
        background: linear-gradient(180deg, #7f8070 0%, #9e958d 0.01%, #595450 100%); 
        border-radius: 8px;
    }

    &__problems {
        background: linear-gradient(180deg, #F6F2EE 0%, rgba(246, 242, 238, 0) 100%);
        border-radius: 4px 4px 0px 0px;
        padding: 40px 40px;
        max-width: 832px;
    }

    &__problems-title {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #211E1C;
        max-width: 717px;
        margin-bottom: 16px;
    }

    &__problems-wrapper {
        display: flex;
        margin-bottom: 24px;
    }

    &__problems-list:not(:last-child) {
        margin-right: 62px;
    }

    &__problems-item {
        font-weight: 300;
        font-size: 16px;
        line-height: 30px;
        color: #211E1C;
        display: flex;
        align-items: center;
        height: 32px;
    }

    &__problems-item::before {
        content: "";
        background-image: url(../img/children-arrow.svg);
        background-repeat: no-repeat;
        display: inline-block;
        width: 6px;
        height:12px;
        margin-right: 12px;
    }

    &__problems-link:hover {
        border-bottom: 1px solid rgba(89, 84, 80, 0.16);
    }

    &__problems-link:active {
        border-bottom: 1px solid rgba(89, 84, 80, 0.32);
    }

    &__problems-btn {
        padding: 11px 24px;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: #211E1C;
        border: 2px solid #A1C74F;
        border-radius: 24px;
        max-width: 227px;
        height: 48px;
        width: 100%;
        cursor: pointer;
        background-color: #FFFFFF;
        text-align: center;
        transition: .3s linear;  
    }

    &__problems-btn:hover {
        background-color: #DFECC2;
    }

    &__problems-btn:active {
        background-color: #A1C74F;
    }
}

.art__call--bg--r {
    background-image: url(../img/children-bg.svg);
    background-repeat: no-repeat;
    background-position: 350px;
}

