@media (max-width: 1344px) {
    .contacts__phone {
        padding: 48px 48px 50px 48px;
        max-width: 464px;
    }

    .contacts__numlink {
        font-size: 32px;
    }

    .contacts__numlink-big {
        font-size: 48px;
    }

    .contacts__mail-link {
        font-size: 36px;
    }

    .contacts__mail {
        padding: 48px 48px 50px 48px;
        max-width: 464px;
    }

    .contacts__left {
        max-width: 463px;
    }

    .contacts__title {
        font-size: 36px;
    }

    .contacts__information-text-2 {
        text-align: right;
    }

    .contacts__righ {
        width: 464px;
    }

    .contacts__left-2 {
        width: 464px;
    }

    .contacts__right-2 {
        max-width: 463px;
    }

    .contacts__modal-content {
        width: 960px;
        padding: 32px 32px;
        height: 450px;
    }

    .contacts__modal-text {
        max-width: 352px;
    }
}

@media (max-width: 1024px) {
    .contacts__connection {
        flex-direction: column;
    }

    .contacts__messengers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacts__phone {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacts__mail {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacts__section-1 {
        flex-direction: column;
    }

    .contacts__left {
        max-width: 100%;
    }

    .contacts__main {
        flex-direction: column;
        justify-content: flex-start;
    }

    .contacts__information-text {
        margin-bottom: 10px;
    }

    .contacts__information-text-2 {
        text-align: left;
    }

    .contacts__righ-wrapper {
        order: -1;
    }

    .contacts__righ {
        width: 100%;
    }

    .contacts__section-2 {
        flex-direction: column;
    }

    .contacts__left-2 {
        width: 100%;
    }

    .contacts__right-2 {
        max-width: 100%;
    }

    .contacts__modal-content {
        flex-direction: column;
        max-height: 704px;
        height: 100%;
        max-width: 570px;
        overflow-y: auto;
    }

    .contacts__modal-map {
        width: 100%;
    }

    .contacts__modal-text {
        padding-top: 25px;
        max-width: 100%;
    }

    .contacts__modal-close {
        top: 13px;
        right: 10px;
    }
}

@media (max-width: 576px) {
    .contacts__wrapper {
        padding: 0 0 34px 0;
    }

    .contacts__messengers {
        background: linear-gradient(180deg, rgba(246, 242, 238, 0) 0%, #F6F2EE 100%);
        align-items: flex-start;
    }

    .contacts__item {
        width: 80px;
    }

    .contacts__phone {
        background: linear-gradient(180deg, rgba(246, 242, 238, 0) 0%, #F6F2EE 100%);
        align-items: flex-start;
    }

    .contacts__text {
        font-size: 22px;
        line-height: 26px;
    }

    .contacts__numlink {
        font-size: 16px;
        line-height: 30px;
    }

    .contacts__numlink-big {
        font-size: 30px;
        line-height: 30px;
    }

    .contacts__mail {
        background: linear-gradient(180deg, rgba(246, 242, 238, 0) 0%, #F6F2EE 100%);
        align-items: flex-start;
    }

    .contacts__mail-link {
        font-size: 24px;
        line-height: 24px;
    }

    .contacts__title {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 12px;
    }

    .contacts__wrapper p {
        font-size: 15px;
        line-height: 22px;
        margin: 0 0 18px 0;
    }

    .contacts__main:not(:last-child) {
        margin-bottom: 6px;
    }

    .contacts__modal-content {
        padding: 0;
        justify-content: flex-start;
        max-height: 616px;
        max-width: 320px;
    }

    .contacts__modal-map {
        height: 256px;
    }

    .contacts__modal-text {
        padding: 32px 32px;
    }

    .contacts__modal-title {
        font-size: 28px;
        line-height: 32px;
    }

    .contacts__modal-window p {
        margin: 0 0 12px 0;
    }

    .contacts__modal-bg {
        position: absolute;
        top: 30px;
        right: 22px;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #FFFFFF;
    }

    .contacts__modal-close {
        width: 8px;
        height: 8px;
        position: static;
    }
}