.contacts {

    &__wrapper {
        padding: 64px 0 72px 0;
    }

    &__connection {
        display: flex;
        justify-content: space-between;
    }

    &__messengers {
        background: linear-gradient(180deg, #F6F2EE 0%, rgba(246, 242, 238, 0) 100%);
        border-radius: 4px;
        padding: 41px 32px;
        display: none;
    }

    &__text-resize-1024 {
        font-weight: 300;
        font-size: 22px;
        line-height: 24px;
        color: #211E1C;
        margin-bottom: 24px;
        display: block;
    }

    &__items {
        display: flex;
        gap: 8px;
    }

    &__item {
        display: block;
        width: 101px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item--bg--1 {
        background: linear-gradient(90deg, #C3D54E 0%, #A1C74F 100%);
        box-shadow: inset 0px 6px 6px rgba(255, 255, 255, 0.32);
        border-radius: 4px;
    }

    &__item--bg--2 {
        background: linear-gradient(90deg, #25D366 0%, #0F9F45 100%);
        box-shadow: inset 0px 6px 6px rgba(255, 255, 255, 0.32);
        border-radius: 4px;
    }

    &__item--bg--3 {
        background: linear-gradient(90deg, #36AEE2 0%, #1E96C8 100%);
        box-shadow: inset 0px 6px 6px rgba(255, 255, 255, 0.32);
        border-radius: 4px;
    }

    &__phone {
        max-width: 624px;
        padding: 56px 64px 60px 64px;
        background: linear-gradient(180deg, #F6F2EE 0%, rgba(246, 242, 238, 0) 100%);
        border-radius: 4px;
    }

    &__mail {
        max-width: 624px;
        padding: 56px 64px 60px 64px;
        background: linear-gradient(180deg, #F6F2EE 0%, rgba(246, 242, 238, 0) 100%);
        border-radius: 4px;
    }

    &__text {
        font-weight: 300;
        font-size: 26px;
        line-height: 24px;
        color: #211E1C;
        display: block;
        margin-bottom: 12px;
    }

    &__numlink {
        font-weight: 300;
        font-size: 48px;
        line-height: 80px;
        color: #211E1C;
    }

    &__numlink-big {
        font-size: 64px;
    }

    &__text-link {
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        color: #211E1C;
    }

    &__mail-link {
        font-weight: 300;
        font-size: 48px;
        line-height: 65px;
        color: #211E1C;
        display: block;
        border-bottom: 1px solid rgba(89, 84, 80, 0.16);
        margin-bottom: 10px;
    }

    &__section-1 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
    }

    &__left {
        max-width: 592px;
        padding-top: 20px;
    }

    &__title {
        font-weight: 400;
        font-size: 42px;
        line-height: 46px;
        letter-spacing: 0.02em;
        color: #211E1C;
        margin-bottom: 24px;
    }

    &__wrapper p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #211E1C;
        margin: 0 0 32px 0;
    }

    &__btn {
        border: none;
        background-color: transparent;
        text-decoration-line: underline;
        cursor: pointer;
    }

    &__main {
        display: flex;
        justify-content: space-between;
    }

    &__main:not(:last-child) {
        border-bottom: 1px solid #F6F2EE;
        margin-bottom: 16px;
        padding-bottom: 16px;
    }

    &__information-text {
        font-weight: 600;
        font-size: 15px;
        line-height: 17px;
        color: #211E1C;
    }

    &__information-text-2 {
        font-weight: 400;
        font-size: 15px;
        line-height: 17px;
        color: #211E1C;
    }

    &__righ {
        width: 624px;
        height: 384px;
    }

    &__section-2 {
        display: flex;
        justify-content: space-between;
    }

    &__left-2 {
        width: 624px;
        height: 384px;
    }

    &__right-2 {
        max-width: 592px;
        padding-top: 20px;
    }

    &__modal-window {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(33, 30, 28, 0.88);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        z-index: 6;
        padding-top: 6%;
        display: none;
    }

    .active {
        display: flex;
    }

    &__modal-body {
        position: relative;
    }

    &__modal-content {
        display: flex;
        justify-content: space-between;
        background-color: #FFFF;
        width: 1024px;
        height: 512px;
        padding: 64px 80px 64px 64px;
    }

    &__modal-map {
        width: 512px;
        height: 384px;
    }

    &__modal-text {
        max-width: 320px;
        padding-top: 50px;
    }

    &__modal-title {
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.02em;
        color: #211E1C;
    }

    &__modal-window p {
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: #211E1C;
    }

    &__modal-description:not(:last-child) {
        margin-bottom: 10px;
    }

    &__modal-close {
        position: absolute;
        top: 24px;
        right: 26px;
        cursor: pointer;
    }
}