.department {
    height: 524px;
    background: linear-gradient(to bottom, #f6f2ee 353px, #595450 160px);
    &__wrapper {
        padding-top: 72px;
    }
    &__header {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__heading {
        font-family: "Palatino Linotype";
        font-style: normal;
        font-weight: 400;
        font-size: 42px;
        line-height: 46px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #211e1c;
    }
    &__line {
        width: 80px;
        height: 4px;
        background-color: #a1c74f;
        margin-top: 44px;
    }
    &__content {
        margin-top: 64px;
        display: flex;
        justify-content: space-between;
        gap: 32px;
    }
    &__item {
        width: 405px;
        height: 256px;
        border-radius: 4px;
    }
    &__image {
        width: 100%;
        height: 160px;
    }
    &__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px 4px 0 0;
    }
    &__item-text {
        height: 96px;
        background-color: #fff;
        border-radius: 0 0 4px 4px;
    }
    &__item-heading {
        padding-top: 24px;
        padding-left: 32px;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
    }
    &__item-desc {
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 13px;
        letter-spacing: 0.02em;
        color: #000000;
        padding-left: 32px;
        padding-top: 4px;
    }
}
