.department-map {
    background: linear-gradient(to bottom, #ffffff 298px, #f6f2ee 160px);

    &__wrapper {
        padding-bottom: 96px;
    }

    &__map {
        width: 1152px;
        height: 512px;
    }
}