.dependencies {

    .psychiatry__tab {
        display: inline-flex;
        align-items: center;
    }

    .psychiatry__tab:not(:last-child) {
        margin-right: 50px;
    }

    .active {
        background-color: #ffff;
        padding: 0 12px;
    }

    .dependencies__arw-2 {
        margin-left: 10px;
        transform: rotate(180deg);
        transition: .3s linear;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__main {
        max-width: 832px;
    }

    &__links {
        margin-bottom: 76px;
        padding-top: 11px; 
        display: flex;
    }

    .open {
        display: flex;
    }

    &__item:not(:last-child) {
        margin-right: 48px;
    }

    &__link {
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: #211E1C;
    }

    &__link:hover {
        border-bottom: 1px solid rgba(89, 84, 80, 0.16);
    }

    &__top {
        display: flex;
        margin-bottom: 32px;
    }

    &__paragraph {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #211E1C;
        max-width: 832px;
        margin: 0 0 35px 0;
    }

    &__paragraph--md {
        max-width: 288px;
        margin: 0 32px 0 0;
    }

    &__image-wrapper {
        width: 512px;
        height: 320px;
    }

    &__image-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__paragraph-item-1 {
        font-weight: 700;
    }

    &__list {
        padding-left: 18px;
        margin-bottom: 36px;
    }

    &__list-item {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #211E1C;
        position: relative;
    }

    &__list-item::before {
        content: "";
        display: inline-block;
        width: 3px;
        height: 3px;
        background-color: #211E1C;
        border-radius: 50%;
        position: absolute;
        left: -11px;
        top: 8px;
    }

    &__list-item:not(:last-child) {
        margin-bottom: 10px;
    }

    .art__left {
        padding-top: 112px;
    }
}