.department-map {
    background: linear-gradient(to bottom, #ffffff 298px, #f6f2ee 160px);

    &__block {
        display: flex;
        justify-content: center;
    }

    &__map {
        width: 1152px;
        height: 512px;
    }
}