@media (max-width: 1024px) {
    .environment {
        background: #F6F2EE;
    }

    .environment__wrapper {
        padding: 90px 0 40px 0;
    }

    .environment__bg {
        background-color: #ffff;
    }
}

