@media (max-width: 1344px) {
    .gallery__section {
        max-width: 464px;
    }

    .gallery__image-wrapper {
        width: 464px;
        height: 330px;
    }
}

@media (max-width: 1024px) {
    .gallery__wrapper {
        padding: 66px 0;
    }

    .gallery__section {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gallery__image-wrapper {
        width: 448px;
        height: 324px;
    }
}

@media (max-width: 576px) {
    .gallery__wrapper {
        padding: 32px 0;
    }

    .gallery__sections {
        gap: 13px;
    }

    .gallery__section {
        align-items: flex-start;
    }

    .gallery__image-wrapper {
        width: 100%;
        margin-bottom: 15px;
        height: 278px;
    }

    .gallery__text {
        font-size: 18px;
        line-height: 24px;
    }

    .gallery__btn-bg {
        height: 231px;
    }
}

