@media (max-width: 1344px) {
    .gallery__section {
        max-width: 464px;
    }

    .gallery__image-wrapper {
        width: 464px;
        height: 330px;
    }
}

@media (max-width: 1024px) {
    .gallery__section {
        max-width: 100%;
        width: 100%;
    }

    .gallery__image-wrapper {
        width: 100%;
        height: 100%;
    }

}