.gallery {

    &__wrapper {
        padding: 96px 0;
    }

    &__sections {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 20px;
    }

    &__section {
        max-width: 405px;
    }

    &__image-wrapper {
        width: 405px;
        height: 288px;
        margin-bottom: 24px;
    }

    &__img {
        border-radius: 4px;
        object-fit: cover;
        display: block;
        width: 100%;
        height: 100%;
    }

    &__text {
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
        color: #211E1C;
    }

    &__btn-bg {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 62.5%);
        margin-top: -14px;
        position: relative;
        z-index: 5;
        margin-top: -246px;
        height: 256px;
    }

    &__btn-wrapper {
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: flex-end;
    }

    &__btn {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: #211E1C;
        border: 2px solid #A1C74F;
        border-radius: 28px;
        max-width: 227px;
        height: 56px;
        width: 100%;
        cursor: pointer;
        background-color: #FFFFFF;
        text-align: center;
        transition: 0.3s linear;
    }

    &__btn:hover {
        background-color: #DFECC2;
    }

    &__btn:active {
        background-color: #A1C74F;
    }
}