.gallery-album {

    &__wrapper {
        padding-top: 64px;
    }

    .gallery__sections {
        margin-bottom: 70px;
    }

    .gallery__image-wrapper {
        margin: 0;
    }

    .news-card__slaider-wrapper {
        padding: 96px 0 78px 0;
    }

    .art__galery {
        display: none;
    }

}