.heading {
    background: #f7f2ee;

    &__wrapper {
        padding-top: 32px;
        padding-bottom: 24px;
        display: flex;
        gap: 48px;
    }

    &__wrapper-photo {
        position: relative;
        width: 224px;
        border-radius: 4px;
        margin-right: 48px;
    }

    &__photo {
        position: absolute;
        width: 224px;
        height: 224px;
        border-radius: 4px;
        object-fit: cover;
    }

    &__header {
        font-family: "Palatino Linotype";
        font-style: normal;
        font-weight: 400;
        font-size: 42px;
        line-height: 48px;
        color: #211e1c;
        margin-bottom: 56px;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #595450;
    }

    &__breadcrumb {
        display: flex;
        overflow-x: auto;
        scrollbar-width: none;
    }

    &__breadcrumb::-webkit-scrollbar {
        width: 0;
    }

    &__bread-main {
        height: 20px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #595450;
        border-bottom: 1px solid rgba(89, 84, 80, 0.16);
        white-space: nowrap;
    }

    &__dec {
        border-bottom: 1px solid rgba(89, 84, 80, 0.16);
    }

    &__arrow {
        margin-left: 16px;
        margin-right: 16px;
    }

    &__bread-name {
        white-space: nowrap;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #595450;
    }

    &__info {
        height: 20px;
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__point {
        width: 6px;
        height: 6px;
        background-color: #a1c74f;
        border-radius: 50%;
    }

    &__views {
        margin-left: 8px;
    }

    &__views::before {
        content: url(/img/eye.svg);
        margin-right: 8px;
        width: 16px;
        height: 11px;
        object-fit: contain;
    }

    &__description {
        padding-bottom: 38px;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #211e1c;
    }
}

.commercial-heading {
    display: block;
}

.gallery-item {
    display: block;
}

