.heading-about {

    &__bg {
        background: linear-gradient(90deg, #C3D54E 0%, #A1C74F 100%);
        height: 224px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -154px;
        padding-bottom: 74px;
    }

    &__image {
        width: 192px;
        height: 192px;
        margin-bottom: 48px;
    }

    &__img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        object-fit: cover;
        border-radius: 4px;
    }

    &__title {
        font-weight: 400;
        font-size: 42px;
        font-family: 'Palatino Linotype';
        line-height: 46px;
        color: #211E1C;
        margin-bottom: 12px;
    }

    &__elements {
        margin: 0 0 24px 0;
        display: flex;
        align-items: baseline;
    }

    &__quotes {
        width: 22px;
        height: 20px;
        margin-right: 8px;
    }

    &__quotes--margin--left {
        margin-left: 8px;
    }

    &__wrapper p {
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #211E1C;
        max-width: 810px;
        text-align: center;
        margin: 0;
    }

    &__name {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #211E1C;
        margin-bottom: 4px;
    }

    &__text {
        font-weight: 300;
        font-size: 15px;
        line-height: 16px;
        display: block;
        color: #211E1C;
    }

    &__points-wrapper {
        position: fixed;
        right: 25px;
        top: 248px;
        z-index: 100;
    }

    &__points-list {
        display: flex;
        gap: 22px;
        flex-direction: column;
    }

    &__point-link {
        display: block;
        width: 6px;
        height: 6px;
        background-color: #FEE8C2;
        border-radius: 50%;
        transition: all 0.1s linear;
        position: relative;
    }

    .active {
        background-color: #FDB942;
        outline: 2px solid #FDB942;
    }

    .show {
        display: block;
    }

    &__point-link::before {
        content: "";
        position: absolute;
        top: -12px;
        left: -12px;
        width: 30px;
        height: 30px;
        display: inline-block;
    }

    &__point-link:hover {
        background-color: #FDB942;
        outline: 2px solid #FDB942;

    }

    &__pointer-wrapper {
        position: absolute;
        background-color: #FFFF;
        top: -14px;
        border-radius: 1px 0 0 1px;
        right: 0px;
        margin-right: 50px;
        width: max-content;
        display: none;
    }

    &__pointer-b {
        position: relative;
    }

    &__pointer-b::before {
        content: "";
        display: inline-block;
        background-color: #FFFF;
        height: 26px;
        width: 26px;
        position: absolute;
        right: -14px;
        top: 4px;
        transform: rotate(45deg);
        z-index: -10;
        border-radius: 14%;
    }

    &__pointer {
        padding: 8px 12px;
    }

    &__pointer-text {
        font-weight: 300;
        font-size: 13px;
        line-height: 13px;
        color: #211E1C;
    }
}