@media (max-width: 1344px) {
    .header {
        &__input {
            display: none;
        }
    }
}
@media (max-width: 1024px) {
    .header {
        &__wrapper {
            height:96px;
        }
        &__info {
            display: none;
        }
        &__brend {
            gap: 12px;
        }
        &__logo {
            width: 128px;
            height: 45px;
        }

        &__mob {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            border: 2px solid #eee5dc;
            flex-shrink: 0;
            cursor: pointer;
        }
        &__mob-img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            content: url(/img/menu.svg);
        }
        &__desc {
            max-width: 244px;
        }
        &__desc-text {
            font-size: 12px;
            line-height: 13px;
        }
    }
}
@media (max-width: 576px) {
    .header {
        background: #FFFFFF;
        border-bottom: unset;
        &__wrapper {
            padding-left: 32px;
            padding-right: 32px;
        }
        &__desc {
            display: none;
        }
    }
}
