@media (max-width: 1344px) {
    .heading-card__left {
        max-width: 544px;
    }

    .heading-card__img {
        height: 320px;
    }
    
    .heading-card__arw {
        bottom: 140px;
        width: 48px;
        height: 48px;
    }

    .heading-card__arw img {
        width: 15px;
        height: 15px;
    }

    .heading-btn--prev {
        left: -24px;
    }

    .heading-btn--next {
        right: -24px;
        left: auto;
    }

    .heading-card__items {
        display: none;
    }

    .heading-card .heading__breadcrumb--md {
        padding-top: 16px;
    }

    .heading-card__title {
        font-size: 36px;
        line-height: 44px
    }

    .heading-card__paragraph {
        font-size: 15px;
        line-height: 26px;
    }

    .heading-card__btn {
        display: none;
    }
}

@media (max-width: 1024px) {
    .heading-card__inner {
        flex-direction: column;
    }

    .heading-card__left {
        padding-top: 0;
        max-width: 100%;
        margin-right: 0;
    }

    .heading-card__img {
        height: 460px;
    }

    .heading-card__arw {
        bottom: -24px;
    }

    .heading-btn--prev {
        right: 100px;
        left: auto;
    }

    .heading-btn--next {
        right: 40px;
    }

    .heading-card__right {
        padding: 17px 0 0 64px
    }

    .heading-card .heading__breadcrumb--md {
        padding-left: 64px;
    }
}

@media (max-width: 576px) {
    .heading-card__img {
        height: 280px;
    }

    .heading-card__arw {
        width: 40px;
        height: 40px;
        bottom: -20px;
    }

    .heading-card__arw img {
        width: 10px;
        height: 10px;
    }

    .heading-btn--prev {
        right: 72px;
    }

    .heading-btn--next {
        right: 24px;
    }

    .heading-card__right {
        padding: 17px 0 0 0;
    }

    .heading-card__title {
        font-size: 26px;
        line-height: 30px;
    }

    .heading-card__paragraph {
        margin: 0;
        font-size: 15px;
        line-height: 24px;
    }

    .heading-card__paragraph::after {
        display: block;
        margin-top: 10px;
    }

    .heading-card .heading__breadcrumb--md {
        padding-left: 0;
    }

    .heading-card .heading__bread-name {
        display: none;
    }
}

@media (max-width: 400px) {
    .heading-card__img {
        height: 240px;
    }
}