.heading-card {

    &__inner {
        display: flex;
    }

    &__left {
        position: relative;
        max-width: 768px;
        margin-right: 66px;
        padding-top: 64px;
    }

    &__img {
        height: 448px;
    }

    &__img img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__items {
        position: absolute;
        top: 383px;
        width: 100%;
        padding: 0 40px;
    }

    &__gallery {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        cursor: pointer;
        max-width: 160px;
    }

    &__item img {
        width: 100%;  
    }

    &__arw {
        position: absolute;
        bottom: 196px;
        width: 56px;
        height: 56px;
        background-color: #FDB942;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .1s linear;
        z-index: 100;
    }

    &__arw:hover {
        background-color: #F1AC34;  
    }

    &__arw:active {
        background-color: #F1AC34;  
        box-shadow: inset 0px 5px 0px rgba(0, 0, 0, 0.08);
    }

    &__arw img {
        width: 19px;
        height: 19px;
    }

    .swiper-button-disabled {
        background-color: #F8DFB6;
    }

    .heading__breadcrumb--md {
        padding: 45px 0 19px 0;
    }

    &__title {
        font-weight: 400;
        font-size: 46px;
        line-height: 52px;
        color: #211E1C;
        max-width: 446px;
        margin-bottom: 25px;
    }

    &__right {
        padding-top: 87px;
    }

    &__paragraph {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #211E1C;
        max-width: 446px;
        margin-bottom: 25px;
    }

    &__paragraph::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 2px;
        background-color: #EEE5DC;
        display: none;
    }

    &__btn {
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #211E1C;
        padding: 15px 56px;
        background-color: #FFFFFF;
        max-width: 192px;
        border-radius: 28px;
        border: none;
        cursor: pointer;
        height: 52px;
        transition: .3s linear;
    }

    .heading__bread-name {
        font-size: 15px;
        color: #595450;
    }
}

.heading-btn--next {
    right: -30px;
}

.heading-btn--prev {
    left: -30px;
    transform: rotate(180deg);    
}
