@media (max-width: 1344px) {
    .header {
        &__input {
            display: none;
        }
    }
}

@media (max-width: 1024px) {
    .header {
        background-color: #FFFFFF;

        .burger--tab--gr button::after {
            content: url(../img/arrow-li.svg);
            transform: rotate(90deg);
        }

        &__wrapper {
            height: 96px;
        }

        &__info {
            display: none;
        }

        &__brend {
            gap: 12px;
        }

        &__logo {
            width: 128px;
            height: 45px;
        }

        &__mob {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            border: 2px solid #eee5dc;
            background-color: transparent;
            flex-shrink: 0;
            cursor: pointer;
            gap: 4px;
        }

        &__burger-line {
            display: block;
            width: 18px;
            height: 2px;
            background-color: #211E1C;
        }

        .burger--open &__burger-1 {
            transform: rotate(45deg) translate(3px, -2px);
        }

        .burger--open &__burger-2 {
            transform: scaleY(0);
        }

        .burger--open &__burger-3 {
            transform: rotate(-45deg) translate(2px, 3px);
        }

        &__burger-1 {
            transform-origin: 0% 0%;
            transition: transform 0.3s ease-in-out;
        }

        &__burger-2 {
            transition: transform 0.2s ease-in-out;
        }

        &__burger-3 {
            transform-origin: 0% 100%;
            transition: transform 0.3s ease-in-out;
        }

        &__desc {
            max-width: 244px;
        }

        &__desc-text {
            font-size: 12px;
            line-height: 13px;
        }
    }

    .burger-content {
        display: block;
    }

    .stop-scroll {
        overflow-y: hidden;
    }

    .header--burger--bg {
        background-color: #F6F2EE;
        transition: background-color 0.6s ease-in-out;
    }

    .burger-content--open {
        transform: none;
    }

    .burger--tab--gr {
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    }

    .burger-content--active {
        display: block;
    }
}

@media (max-width: 576px) {
    .header {
        background: #FFFFFF;
        border-bottom: unset;

        &__wrapper {
            padding-left: 32px;
            padding-right: 32px;
        }

        &__desc {
            display: none;
        }
    }
}