@media (max-width: 1344px) {
    .heading {
        &__wrapper {
            padding-top: 36px;
            padding-bottom: 24px;
        }
        &__header {
            font-size: 36px;
            line-height: 40px;
            padding-bottom: 32px;
        }
    }
}
@media (max-width: 1024px) {
    .heading {
        &__wrapper {
            padding: 32px 32px 36px 32px;
        }
        &__header {
            font-weight: 700;
            font-size: 28px;
            line-height: 38px;
            letter-spacing: 0.03em;
            padding-bottom: 24px;
            border-bottom: 2px solid #EEE5DC;
        }
        &__bottom {
            padding-top: 20px;
        }
        &__date {
            display: none;
        }
        &__point {
            display: none;
        }
        &__span {
            display: none;
        }
    }
}
@media (max-width: 576px) {
    .heading {
        &__header {
            font-size: 22px;
            line-height: 28px;
            padding-bottom: 32px;
            letter-spacing: 0.03em;
            padding-bottom: 18px;
        }
        &__views {
            display: none;
        }
        &__bottom {
            padding-top: 10px;
        }
    }
}
