.heading-rooms {
    background-color: #F7F2EE;

    &__wrapper {
        padding: 64px 0 19px 0;
    }

    &__inner {
        display: flex;
    }

    &__image {
        width: 768px;
        height: 448px;
        margin: 0 64px 55px 0;
    }

    &__img {
        width: 100%;
        display: block;
        object-fit: cover;
        height: 100%;
    }

    &__title {
        font-weight: 400;
        font-size: 46px;
        line-height: 52px;
        color: #211E1C;
    }

    &__title-wrapper {
        max-width: 448px;
        padding-top: 50px;
    }

    &__title-wrapper p {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #211E1C;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 28px;
        background-color: #FFFFFF;
        cursor: pointer;
        height: 52px;
        width: 192px;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: #211E1C;
        border: none;
    }


}