@media (max-width: 1024px) {
    .heading-about__points-wrapper {
        top: 146px;
    }
}

@media (max-width: 576px) {
    .heading-about__title {
        font-size: 34px;
        line-height: 46px;
    }

    .heading-about__wrapper p {
        font-size: 18px;
        line-height: 28px;
    }

    .heading-about__text {
        text-align: center;
    }
}