.header {
    background: #f7f2ee;
    border-bottom: 1px solid #EEE5DC;

    &__wrapper {
        height: 128px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__brend {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
    }

    &__logo {
        width: 160px;
        height: 57px;
    }

    &__logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__desc {
        max-width: 308px;
    }

    &__desc-text {
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 17px;
    }

    &__input {
        display: flex;
        flex-wrap: nowrap;
        gap: 12px;
    }

    &__search-wrap {
        width: 192px;
        height: 44px;
        position: relative;
    }

    &__search {
        height: 100%;
        width: 100%;
        background: #fffefe;
        border: 1px solid #eee5dc;
        box-sizing: border-box;
        border-radius: 4px;
        padding-left: 16px;
        padding-right: 38px;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 1.3;
    }

    &__search:focus {
        outline-color: #a1c74f;
    }

    &__search-butt {
        width: 16px;
        height: 16px;
        position: absolute;
        top: 14px;
        right: 14px;
        border: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("/img/search.svg");
        background-color: #fff;
        cursor: pointer;
    }

    &__lang {
        width: 144px;
        height: 44px;
        background-color: #fffefe;
        border: 1px solid #eee5dc;
        box-sizing: border-box;
        border-radius: 4px;
        padding-left: 40px;
        padding-right: 16px;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 1.3;
        appearance: none;
        background-image: url("/img/arrow-input.svg"), url("/img/icon-planet.svg");
        background-repeat: no-repeat, no-repeat;
        background-position: 118px center, 14px center;
        cursor: pointer;
    }

    &__lang:focus {
        outline-color: #a1c74f;
    }

    &__info {
        display: flex;
        flex-wrap: nowrap;
        gap: 32px;
    }

    &__pay {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
    }

    &__pay-img {
        width: 20px;
        height: 20px;
    }

    &__pay-img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__pay-text {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.02em;
    }

    &__phone {
        display: flex;
        flex-direction: column;
    }

    &__phone-link {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.02em;
    }

    &__phone-link span {
        font-style: normal;
        font-weight: 300;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 0.02em;
    }

    &__phone-text {
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        text-align: right;
        letter-spacing: 0.08em;
    }

    &__mob {
        display: none;
    }
}

.burger-content {
    display: none;
    position: fixed;
    background-color: #F6F2EE;
    width: 100%;
    z-index: 20;
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
    height: 100vh;
    overflow-y: auto;

    &__tabs {
        border-top: 1px solid #EEE5DC;
        padding: 24px 0 114px 0;
    }

    &__list {
        margin-bottom: 24px;
    }

    &__text {
        padding: 4px 14px 4px 16px;
        background-color: rgba(255, 255, 255, 0.64);
        border-radius: 4px;
    }

    &__text--svg {
        display: flex;
        align-items: center;
    }

    &__text--svg::after {
        content: url(../img/leaf-icon.svg);
        display: inline-block;
        width: 22px;
        height: 20px;
        margin-left: 6px;
    }

    &__text:not(:last-child) {
        margin-bottom: 4px;
    }

    button {
        background-color: inherit;
        border: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    button::after {
        content: url(../img/arrow-li.svg);
        display: block;
        width: 8px;
        transition: all 0.3s ease-in-out;
    }

    &__tab {
        font-weight: 400;
        font-size: 16px;
        line-height: 39px;
        color: #211E1C;
    }

    &__sublist {
        border-top: 1px solid #EEE5DC;
        padding: 9px 0 20px 0;
        display: none;
    }

    &__sublist-link {
        font-weight: 400;
        font-size: 15px;
        line-height: 27px;
        color: #211E1C;
    }

    &__button {
        width: 100%;
        height: 64px;
        background: linear-gradient(90deg, #b3d851 0%, #fdb942 100%);
        box-shadow: inset 0px 6px 6px rgb(255 255 255 / 32%);
        border-radius: 6px;
    }

    &__button-link {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 22px;
        align-items: center;
        justify-content: space-between;
        padding-left: 12px;
    }

    &__button-link::after {
        content: url(../img/index-r.svg);
        display: inline-block;
        width: 42px;
        height: 56px;
        margin-right: 16px;
    }

    &__button-img {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.12);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__button-img::before {
        content: "";
        position: absolute;
        top: -12px;
        left: -12px;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.12);
    }

    &__button-img::after {
        content: "";
        position: absolute;
        top: -24px;
        left: -24px;
        width: 88px;
        height: 88px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.12);
        overflow: hidden;
    }

    &__button-text {
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: #ffffff;
        text-shadow: 0px 1px 0px rgb(0 0 0 / 12%);
    }
}