.involvement {

    &__wrapper {
        position: relative;
        padding: 64px 0 78px 0;
    }

    &__counter {
        top: 4px;
    }

    &__text-wrapper {
        display: flex;
        justify-content: center;
    }

    &__text {
        max-width: 768px;
    }
}