@media (max-width: 1024px) {
    .involvement__wrapper {
        padding: 90px 0 44px 0;
    }

    .involvement__counter {
        top: 34px;
    }

}
@media (max-width: 576px) {
    .involvement__wrapper {
        padding: 90px 0 44px 0;
    }

    .involvement__counter {
        top: 34px;
    }
}