.patient-status {
    background-color: #F6F2EE;

    &__wrapper {
        position: relative;
        padding: 152px 0 78px 0;
    }

    &__title-wrapper {
        margin-bottom: 48px;
    }

    &__image-status {
        width: 960px;
        height: 576px;
        margin: 0 auto;
        margin-bottom: 48px;
    }

    &__paragraph {
        display: flex;
        justify-content: center;
    }

    &__paragraph p {
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.02em;
        color: #211E1C;
        margin: 0;
        max-width: 768px;
        text-align: center;
    }
}