@media (max-width: 1344px) {
    .patient-status__image {
        max-width: 100%;
        max-height: 100%;
        display: block;
    }
}

@media (max-width: 1024px) {
    .patient-status__wrapper {
        padding: 130px 0 50px 0;
    }

    .patient-status__counter {
        top: 66px;
    }

    .patient-status__image-status {
        width: 100%;
        margin: 0;
        height: 540px;
    }
}

@media (max-width: 576px) {
    .patient-status__wrapper {
        padding: 110px 0 24px 0;
    } 

    .peculiarities__title {
        font-size: 38px;
        line-height: 46px;
    }

    .peculiarities__title-wrapper p {
        font-size: 18px;
        line-height: 28px;
    }

    .patient-status__counter {
        top: 50px;
    }

    .patient-status__image-status {
        height: 100%;
        margin-bottom: 24px;
    }

    .patient-status__paragraph p {
        font-size: 15px;
        line-height: 21px;
    }

}