@media (max-width: 1344px) {
    .reviews__wrapper {
        max-width: 544px;
    }

    .reviews__buttons {
        margin-bottom: 20px;
        flex-direction: column;
        height: auto;
    }

    .reviews .active {
        height: 52px;
        padding-top: 20px;
    }

    .reviews__btn {
        max-width: 100%;
        border-radius: 8px;
        height: 52px;
    }

    .reviews__card {
        border-radius: 8px;
    }

    .reviews__image-wrapper {
        width: 408px;
        height: 260px;
    }

    .reviews__item-el {
        width: 232px;
        height: 308px;
    }

}

@media (max-width: 1024px) {
    .main-wrapper {
        padding: 90px 0 30px 0;
    }

    .reviews__inner {
        flex-direction: column;
    }

    .reviews__wrapper {
        margin-bottom: 40px;
        max-width: 100%;
    }

    .reviews__image-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        max-height: 100%;
    }

    .reviews__items-flex {
        justify-content: center;
    }

    .reviews__item-el {
        width: 320px;
        height: 424px;
    }

    .reviews__left {
        padding: 0;
    }

    .reviews__video {
        display: block;
    }
}

@media (max-width: 576px) {
    .main-wrapper {
        padding-top: 32px;
    }

    .reviews__wrapper {
        margin-bottom: 0;
    }

    .reviews__buttons {
        align-items: center;
    }

    .reviews__btn {
        font-size: 14px;
        max-width: 256px;
    }

    .reviews__item-el {
        width: 256px;
        height: 340px;
    }

    .reviews__card-item {
        padding: 24px 24px 32px 24px;
    }

    .reviews__text {
        flex-direction: column;
    }

    .reviews__name {
        margin-bottom: 14px;
    }

    .reviews__paragraph {
        font-size: 13px;
    }

    .reviews__btn-green {
        padding: 15px 56px;
        max-width: 100%;

    }

    .reviews__left-heading {
        margin-top: 0;
    }

    .reviews__left {
        gap: 0;
    }

    .reviews__other {
        background-color: #F6F2EE;
    }
}

@media (max-width: 396px) {
    .reviews__item-el {
        height: 270px;
    }

    .reviews__item-img {
        object-fit: contain;
    }
}