.specialists {
    padding-top: 64px;
    padding-bottom: 96px;
    &__box {
        display: flex;
        gap: 32px;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__item {
        width: 296px;
        padding: 16px;
        background: #f6f2ee;
        border-radius: 4px;
    }
    &__img {
        width: 100%;
        height: 264px;
        border-radius: 4px;
    }
    &__photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }
    &__descr {
        width: 100%;
        padding: 30px 16px 16px 16px;
    }
    &__name {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
    }
    &__position {
        min-height: 128px;
        padding-top: 16px;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #000000;
    }
    &__link {
        display: block;
        height: 18px;
        width: max-content;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 13px;
        letter-spacing: 0.04em;
        color: #595450;
        border-bottom: 1px solid rgba(89, 84, 80, 0.16);
    }
}
