.team {
    background: linear-gradient(to top, #ffffff 150px, #f6f2ee 148px);

    &__wrapper {
        position: relative;
        padding: 152px 0 78px 0;
    }

    &__image-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 32px;
    }

    &__team-image {
        width: 1024px;
        height: 576px;
    }

    &__text {
        display: flex;
        justify-content: center;
        margin-bottom: 44px;
    }

    &__text p {
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.02em;
        color: #211E1C;
        text-align: center;
        max-width: 768px;
        margin: 0;
    }

    &__brands {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
    }

    &__brand {
        background-color: #FFFFFF;
        border: 1px solid #EEE5DC;
        border-radius: 4px;
        flex: 0 1 20%;
        height: 128px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__logo {
        max-width: 100%;
        display: block;
    }
}