.therapy {

    &__wrapper {
        padding: 85px 0;
        display: flex;
        justify-content: space-between;
    }

    &__inner {
        max-width: 832px;
    }

    &__inner p {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #211E1C;
        margin: 0 0 32px 0;
    }

    &__top {
        display: flex;
        margin-bottom: 32px;
    }

    &__top p {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #211E1C;
        margin: 0 32px 0 0;
    }

    &__italics {
        font-weight: 600;
    }

    &__image {
        width: 512px;
        height: 320px;
    }

    &__img {
        object-fit: cover;
        display: block;
    }

    &__list {
        padding-left: 29px;
        margin-bottom: 32px;
    }

    &__item {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #211E1C;
        position: relative;
    }

    &__item:not(:last-child) {
        margin-bottom: 10px;
    }

    &__item::before {
        content: "";
        display: inline-block;
        width: 3px;
        height: 3px;
        background-color: #211E1C;
        border-radius: 50%;
        position: absolute;
        left: -14px;
        top: 10px;
    }

    .art__galery--therapy {
        display: none;
    }

    .art__count {
        top: 260px;
    }

    .art__autor {
        padding-top: 33px;
    }
}