@font-face{
	font-family: palatinolinotype_bold;
	font-display: swap;
	 src: url("../fonts/palatinolinotype_bold.woff2") format("woff2"),
	 url("../fonts/palatinolinotype_bold.woff") format("woff");
	 font-weight: 400;
	 font-style: normal;
 }
@font-face{
	font-family: palatinolinotype_bolditalic;
	font-display: swap;
	 src: url("../fonts/palatinolinotype_bolditalic.woff2") format("woff2"),
	 url("../fonts/palatinolinotype_bolditalic.woff") format("woff");
	 font-weight: 400;
	 font-style: normal;
 }
@font-face{
	font-family: palatinolinotype_italic;
	font-display: swap;
	 src: url("../fonts/palatinolinotype_italic.woff2") format("woff2"),
	 url("../fonts/palatinolinotype_italic.woff") format("woff");
	 font-weight: 400;
	 font-style: normal;
 }
@font-face{
	font-family: Palatino Linotype;
	font-display: swap;
	 src: url("../fonts/palatinolinotype_roman.woff2") format("woff2"),
	 url("../fonts/palatinolinotype_roman.woff") format("woff");
	 font-weight: 400;
	 font-style: normal;
 }
@font-face{
	font-family: Roboto;
	font-display: swap;
	 src: url("../fonts/Roboto.woff2") format("woff2"),
	 url("../fonts/Roboto.woff") format("woff");
	 font-weight: 400;
	 font-style: normal;
 }
 @font-face{
	font-family: Roboto;
	font-display: swap;
	 src: url("../fonts/Roboto.woff2") format("woff2"),
	 url("../fonts/Roboto.woff") format("woff");
	 font-weight: 300;
	 font-style: normal;
 }
 @font-face{
	font-family: Roboto;
	font-display: swap;
	 src: url("../fonts/Roboto.woff2") format("woff2"),
	 url("../fonts/Roboto.woff") format("woff");
	 font-weight: 200;
	 font-style: normal;
 }
@font-face{
	font-family: Roboto-Italic;
	font-display: swap;
	 src: url("../fonts/Roboto-Italic.woff2") format("woff2"),
	 url("../fonts/Roboto-Italic.woff") format("woff");
	 font-weight: 400;
	 font-style: normal;
 }
