@import "fonts";
@import "normalize";
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  color: #211E1C;
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
a {
    text-decoration: none;
    color: inherit;
  }
}
.container {
  max-width: 1340px;
  padding: 0 30px;
  margin: 0 auto;
}
@media (max-width: 1344px) {
  .container {
    max-width: 1020px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 860px;
    // max-width: 464px;
  }
}
@media (max-width: 560px) {
  .container {
    max-width: 524px;
    // width: 336px;

  }
}
@import "_swiper";
@import "_header";
@import "_header-media";
@import "_heading";
@import "_heading-copy-1";
@import "_heading-media";
@import "_specialists";
@import "_specialists-media";
@import "_article-info";
@import "_article-info-media";
@import "_speclist-slider";
@import "_speclist-slider-media";
@import "_reviews";
@import "_menu";
@import "_menu-media";
@import "_hero";
@import "_hero-media";
@import "_diagnosis";
@import "_diagnosis-media";
@import "_consultation";
@import "_consultation-media";
@import "_department";
@import "_department-media";
@import "_advantages";
@import "_advantages copy";
@import "_advantages-media";
@import "_faq";
@import "_faq-media";
@import "_footer";
@import "_footer-media";
@import "_reviews-media";
@import "_department-slider";
@import "_department-slider-media";
@import "_department-card";
@import "_department-card-map";
@import "_department-card-media";
@import "_department-card-map-media";
@import "_heading-card";
@import "_heading-card-media";
@import "_diagnosis-symptoms";
@import "_diagnosis-symptoms-media";
@import "_heading-psychosom-dis";
@import "_heading-psychosom-dis-media";
@import "_psychosomatic-diseases";
@import "_psychosomatic-diseases-media";
@import "_children";
@import "_children-media";
@import "_psychiatry";
@import "_psychiatry-media";
@import "_dependencies";
@import "_dependencies-media";
@import "_news";
@import "_heading-news";
@import "_news-media";
@import "_news-card";
@import "_heading-news-card";
@import "_heading-news-card-media";
@import "_news-card-media";
@import "_payment";
@import "_payment-media";
@import "_personal-data";
@import "_personal-data-media";
@import "_site-search";
@import "_site-search-media";
@import "_error";
@import "_error-media";
@import "_clinic-tests";
@import "_clinic-tests-media";
@import "_test-rafft";
@import "_test-rafft-media";
@import "_gallery";
@import "_gallery-media";
@import "_gallery-album";
@import "_gallery-album-media";
@import "_therapy";
@import "_therapy-media";
@import "_contacts";
@import "_contacts-media";
@import "_licenses";
@import "_licenses-media";
@import "_heading-rooms";
@import "_heading-rooms-media";
@import "_rooms";
@import "_rooms-media";
@import "_articles";
@import "_articles-media";
@import "_heading-about";
@import "_heading-about-media";
@import "_about";
@import "_about-media";
@import "_peculiarities";
@import "_peculiarities-media";
@import "_patient-status";
@import "_patient-status-media";
@import "_family";
@import "_family-media";
@import "_environment";
@import "_environment-media";
@import "_experts";
@import "_experts-media";
@import "_treatments";
@import "_treatments-media";
@import "_availability";
@import "_availability-media";
@import "_benefits";
@import "_benefits-media";
@import "_food";
@import "_food-media";
@import "_team";
@import "_team-media";
@import "_involvement";
@import "_involvement-media";
@import "_continuity";
@import "_continuity-media";









