@import "fonts";
@import "normalize";
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  color: #211E1C;
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
a {
    text-decoration: none;
    color: inherit;
  }
}
.container {
  max-width: 1280px;
  padding: 0;
  margin: 0 auto;
}
@media (max-width: 1344px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 800px;
    // max-width: 464px;
  }
}
@media (max-width: 560px) {
  .container {
    max-width: 464px;
    // width: 336px;

  }
}
@import "_swiper";
@import "_header";
@import "_header-media";
@import "_heading";
@import "_heading-copy-1";
@import "_heading-media";
@import "_specialists";
@import "_specialists-media";
@import "_article-info";
@import "_article-info-media";
@import "_speclist-slider";
@import "_speclist-slider-media";
@import "_reviews";
@import "_menu";
@import "_menu-media";
@import "_hero";
@import "_hero-media";
@import "_diagnosis";
@import "_diagnosis-media";
@import "_consultation";
@import "_consultation-media";
@import "_department";
@import "_department-media";
@import "_advantages";
@import "_advantages copy";
@import "_advantages-media";
@import "_faq";
@import "_faq-media";
@import "_footer";
@import "_footer-media";
@import "_reviews-media";
@import "_department-slider";
@import "_department-slider-media";
@import "_department-card";
@import "_department-card-media";
@import "_heading-card";
@import "_heading-card-media";
@import "_diagnosis-symptoms";
@import "_diagnosis-symptoms-media";
@import "_heading-psychosom-dis";
@import "_heading-psychosom-dis-media";
@import "_psychosomatic-diseases";
@import "_psychosomatic-diseases-media";
@import "_children";
@import "_children-media";
@import "_psychiatry";
@import "_psychiatry-media";
@import "_dependencies";
@import "_dependencies-media";
@import "_news";
@import "_heading-news";
@import "_news-media";
@import "_news-card";
@import "_heading-news-card";
@import "_heading-news-card-media";
@import "_news-card-media";
@import "_payment";
@import "_payment-media";
@import "_personal-data";
@import "_personal-data-media";
@import "_site-search";
@import "_site-search-media";
@import "_error";
@import "_error-media";
@import "_clinic-tests";
@import "_clinic-tests-media";
@import "_test-rafft";
@import "_test-rafft-media";
@import "_gallery";
@import "_gallery-media";
@import "_gallery-album";
@import "_gallery-album-media";
@import "_therapy";
@import "_therapy-media";









